.section__people {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
    height: 100%;
    // height: 1545px;
    background-image: url(/src/img/people/testmonials-bg.png);
    background-size: cover;
    background-position: center center;
    text-align: center;






    &-title {
        margin: 0;
        padding-top: 57px;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;

        @media (min-width: 481px) {
            font-weight: 700;
            font-size: 42px;
            line-height: 44px;

        }

        @media (min-width: 993px) {
            font-size: 48px;
            line-height: 50px;
        }
    }

    &-list {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 0;
        padding-top: 53px;
        margin: 0;
        align-self: center;
        align-items: baseline;
    }

    &-item {
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 15px 45px 14px;
   

        &--text {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            text-align: center;
            max-width: 280px;
            margin: 0;
            padding-top: 34px;
            font-family: 'Lato', sans-serif;
            font-style: italic;
        }

    }
}

.text-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 34px;
    padding-left: 34px;
    padding-right: 35px;
    
    // background-color: #4a384d;
}

.section__people-footer--text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
    text-align: center;
    max-width: 251px;
    display: flex;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    height: 150px;
    padding-bottom: 15px;

@media (min-width: 481px) {
    max-width: 704px;
}

@media (min-width: 993px) {
    max-width: 887px;
}


}

.br-320px {
    @media (min-width: 481px) {
        display: none;
    }
}